p {
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 1.7px;
}

button,
.button {
  border: $yellow solid 1px;
  background-color: $yellow;
  color: $gray;
  font-size: 1.6rem;
  font-weight: 600;
  height: 44px;
  line-height: 44px;
  padding: 0 2.3rem;
  display: inline-block;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  &:hover {
    background-color: #ffd766;
  }
}

.button-outline {
  border: $gray solid 1px;
  color: $gray;
  height: 44px;
  line-height: 44px;
  padding: 0 2.3rem;
  display: inline-block;
  border-radius: 8px;
  text-decoration: none;
  &.is-big {
    border-width: 2px;
    font-size: 1.8rem;
    line-height: 64px;
    height: 64px;
    letter-spacing: 1.7px;
    padding: 0 4.4rem;
    font-weight: 700;
  }
  &.is-small {
    height: 32px;
    line-height: 32px;
    border-radius: 5px;
    letter-spacing: 1.3px;
  }
  &:hover {
    color: #fff;
    background-color: $gray;
  }
}

.grid {
  max-width: 1000px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.header {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  left: 0;
  height: 96px;
  padding: 2rem 7.2rem;
  background-color: #151515;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  .logo {
    display: block;
    .is-small {
      display: none;
    }
  }
  .menu {
    display: block;
    font-size: 1.6rem;
    margin: 0;
    .button {
      color: #151515;
      img {
        display: inline-block;
        vertical-align: middle;
        margin-right: 0.9rem;
      }
    }
    > li {
      display: inline-block;
      &.current {
        color: $yellow;
      }
      + li {
        margin-left: 4.4rem;
      }
      a {
        text-decoration: none;
        letter-spacing: 1px;
      }
    }
  }
}

.fixed-banner {
  height: 746px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

section {
  background-color: #fff;
  z-index: 2;
  position: relative;
}

img {
  max-width: 100%;
}

#about {
  margin-top: 746px;
  padding-top: 12.3rem;
  padding-bottom: 12.3rem;
  h1 {
    max-width: 555px;
    margin-bottom: 3.7rem;
    color: #151515;
  }
}

#services {
  .cover-img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    will-change: transform;
    height: 459px;
  }
  > * {
    z-index: 2;
    position: relative;
  }

  .group-of {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 17.6rem;
    align-items: flex-start;
    .services-box {
      padding-top: 7.9rem;
      padding-left: 5.3rem;
      padding-bottom: 8.5rem;
      position: relative;
      h2 {
        margin-bottom: 2rem;
        font-weight: 700;
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 1.4rem;
        letter-spacing: 1px;
        li {
          margin-bottom: 1.1rem;
        }
      }
      > img {
        position: absolute;
      }
      &.is-red {
        background-color: $red;
        width: 459px;
        margin-top: 10.6rem;
        > img {
          right: 20px;
          bottom: -40px;
        }
        h2 {
          color: #292F35;
        }
        color: #33383C;
      }
      &.is-blue {
        color: #fff;
        background-color: $blue;
        width: 324px;
        > img {
          right: 45px;
          bottom: -30px;
        }
      }
    }
  }
}

.list-of-services {
  margin: 0 auto;
  padding-top: 10rem;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  li {
    width: 12%;
    text-align: center;
    img {
      display: inline-block;
      margin-bottom: 1.4rem;
    }
  }
}

.cta {
  margin: 0 auto;
  max-width: 557px;
  padding: 8.2rem 0 13.9rem;
  text-align: center;
  h2 {
    font-size: 3.7rem;
    color: #151515;
  }
  .button-outline {
    margin-top: 3.6rem;
  }
}

#careers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .jobs, .benefits {
    width: 50%;
    padding-top: 9.5rem;
    padding-bottom: 9.5rem;
    h2 {
      font-size: 3.7rem;
    }
  }
  .jobs {
    background-color: #f2f2f2;
    padding-left: 8rem;
    padding-right: 8%;
    h2 {
      color: #151515;
      margin-bottom: 2.8rem;
    }
    h3 {      
      margin-bottom: 3rem;
      color: #292F35;
      font-size: 2.1rem;
    }
  }
  .list-of-jobs {
    margin-top: 9rem;
    ul {
      list-style: none;
      margin: 0;
      li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        + li {
          margin-top: 4rem;
        }
        p {
          font-size: 1.4rem;
          margin-bottom: 0;
        }
        .button-outline {
          margin: 0;
        }
      }
    }
  }
  .benefits {
    background-color: $dark-blue;
    color: #fff;
    padding-left: 8%;
    padding-right: 8rem;
    p {
      color: rgba(255,255,255,0.8);
      font-size: 1.4rem;
      letter-spacing: 1.2px;
    }
    h3 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
  }
  .list-of-benefits {
    list-style: none;
    position: relative;
    padding-left: 8rem;
    margin: 0;
    max-width: 390px;
    li {
      margin-top: 6rem;
    }
    .symbol {
      position: absolute;
      left: 0;
    }
  }
}

#life-at-tintech {
  width: 100%;
  img {
    display: block;
  }
}

#contact {
  background-color: $gray;
  background-image: url(../images/footer-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  z-index: 4;
  position: relative;
  padding-top: 22.3rem;
  padding-bottom: 18rem;
  .grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .haft {
      width: 50%;
      position: relative;
      &:last-child {
        padding-left: 8rem;
      }
    }
    .quote-mark {
      color: $yellow;
      font-family: serif;
      font-size: 20rem;
      font-family: Times, serif;
      position: absolute;
      left: 0;
      top: -140px;
    }
    h2 {
      font-size: 4.4rem;
    }
  }

  h3 {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 2.4rem;
    margin-top: 2rem;
  }
}

.contact-links {
  margin-top: 6.6rem;
  p {
    font-size: 1.2rem;
    color: #fff;
  }
  a {
    text-decoration: none;
    color: inherit;
    &.is-strong-url {
      color: $yellow;
      text-decoration: underline;
      &:hover {
        color: #feca3b;
      }
    }
  }
  .social-icons {
    list-style: none;
    margin: 0 0 2.4rem;
    padding: 0;
    li {
      display: inline-block;
      margin-right: 4rem;
    }
  }
}

.contact-form {
  display: block;
  textarea {
    height: 110px;
    resize: none;
    /* width */
    &::-webkit-scrollbar {
      width: 3px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: transparent; 
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #6E799A; 
      border-radius: 1.5px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      // opacity: 0.5;
    }
  }
  .button {
    margin-top: 3.5rem;
  }
}

.input-text {
  width: 100%;
  display: block;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
  outline: none;
  border-bottom: #fff solid 2px;
  font-size: 1.4rem;
  padding: 1.2rem 0;
  margin-bottom: 2rem;
  color: #fff;
  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #6e799a;
    opacity: 1; /* Firefox */
  }
}
