$font-body: 'Roboto', Helvetica, sans-serif;
$font-headline: 'Roboto Slab', Helvetica, sans-serif;
$base-color: #565656;
$red: #FE3B53;
$blue: #15B2FF;
$yellow: #FFC72A;
$dark-blue: #004A79;
$gray: #384857;